body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 62%, rgba(112,25,28,0.7598389697675946) 100%, rgba(112,25,28,0.15199583251269255) 100%);
}

#noticias {
    /* font-size: 80px; */
    /* font-family: 'Modak', cursive; */
    /* color: #651a35; */
}

#cont_noticias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}