<footer>
    <div>
        <div>
            <p>Contacto:</p>
            <ul>
                <li><a href="" onclick="return false">Directorio</a></li>
                <li>Dirección: Av. Carlos Germán Amezaga #375 - Cercado de Lima (<a href="" onclick="return false">ver en el mapa</a>)</li>
                <li>Teléfono: (01) 6197000</li>
                <li>Correo: <a href="mailto:sanmarcosaldia@unmsm.edu.pe" onclick="return false">sanmarcosaldia@unmsm.edu.pe</a></li>
                <li>Libro de reclamaciones <a href="" onclick="return false"><i class="fas fa-book-open"></i></a></li>
                <li><a href="" onclick="return false">Transparencia</a></li>
            </ul>
        </div>
        <div>
            <p>Puedes visitar:</p>
            <ul>
                <li><a href="" onclick="return false">Admisión</a></li>
                <li><a href="" onclick="return false">Carreras pregrado</a></li>
                <li><a href="" onclick="return false">Estudios de postgrado</a></li>
                <li><a href="" onclick="return false">Vida en el campus</a></li>
                <li><a href="" onclick="return false">Investigación</a></li>
                <li><a href="" onclick="return false">Becas, convenios y más</a></li>
                <li><a href="" onclick="return false">Bolsa de trabajo</a></li>
                <li><a href="" onclick="return false">Trámites</a></li>
            </ul>
        </div>
        <div>
            <p>Enlaces externos de interés:</p>
            <ul>
                <li><a href="" onclick="return false">Vicerrectorado de investigación y postgrado</a></li>
                <li><a href="" onclick="return false">Vicerrectorado Académico de Pregrado</a></li>
                <li><a href="" onclick="return false">Vicerrectorado de Investigación y Postgrado</a></li>
                <li><a href="" onclick="return false">Oficina Central de Calidad Académica y Acreditación</a></li>
                <li><a href="" onclick="return false">Oficina Central de Admisión (OCA)</a></li>
                <li><a href="" onclick="return false">Centro Preuniversitario</a></li>
                <li><a href="" onclick="return false">Red Telemática</a></li>
                <li><a href="" onclick="return false">Quipucamayoc</a></li>
                <li><a href="" onclick="return false">Convocatorias públicas</a></li>
            </ul>
        </div>
    </div>
    
    <div>
        <span>Página realizada por la Oficina de Automatización y Capacitación Informacional - Biblioteca Central UNMSM</span>
    </div>
</footer>

<!-- CDN BOOTSTRAP v4.5 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- OWN JS -->
<script src="/js/script.js"></script>