<header>
    <div>
        <div>
            <span>Información útil para: </span>
            <ul class="ul-nav">
                <li><a href="" onclick="return false">Postulantes</a></li>
                <li><a href="" onclick="return false">Estudiantes</a></li>
                <li><a href="" onclick="return false">Egresados</a></li>
                <li><a href="" onclick="return false">Docentes</a></li>
                <li><a href="" onclick="return false">Administrativos</a></li>
                <li><a href="" onclick="return false">Medios y externos</a></li>
            </ul>
        </div>
        <div>
            <ul class="ul-nav">
                <li><a href="" onclick="return false"><i class="fas fa-phone fa-flip-horizontal"></i></a></li>
                <li><a href="" onclick="return false"><i class="fas fa-user"></i></a></li>
                <li><a href="" onclick="return false"><i class="fas fa-wheelchair"></i></a></li>
            </ul>
            <ul class="ul-nav">
                <li><a href="" onclick="return false">Trámites</a></li>
                <li>Español</li>
            </ul>
        </div>
    </div>
    <div>
        <a href="/">
            <img src="" alt="logo UNMSM">
        </a>
        <nav>
            <ul class="ul-nav">
                <li><a href="" onclick="return false">La universidad</a></li>
                <li><a href="" onclick="return false">Estudiar en San Marcos</a></li>
                <li><a href="" onclick="return false">Investigación y cultura</a></li>
                <li><a href="" onclick="return false">Internacional</a></li>
                <li><a href="" onclick="return false">Noticias y agenda</a></li>
                <li><i class="fas fa-search fa-flip-horizontal"></i></li>
            </ul>
        </nav>
    </div>
</header>